.logo {
  &-s {
    width: 100px;
    @include media-breakpoint-down(md) {
      width: 85px;
    }
  }
  &-m {
    width: 140px;
    @include media-breakpoint-down(md) {
      width: 85px;
    }
  }
  &-l {
    width: 165px;
  }
}

.icon {
  &-xs {
    width: 20px;
  }
  &-s {
    width: 35px;
  }
  &-m {
    width: 40px;
    @include media-breakpoint-down(md) {
      width: 30px;
    }
  }
  &-l {
    width: 50px;
    @include media-breakpoint-down(md) {
      width: 40px;
    }
  }
}
