// base
@import "./custom/base";
@import "./custom/typography";
// components
@import "./custom/scrollbar";
// layout
@import "./custom/forms";
// pages
@import "./custom/home";
@import "./custom/store";

#app {
  position: absolute;
  width: 100%;
}

.transition {
  transition: all ease-in 0.5s;
}
