$utilities: map-merge(
  $utilities,
  (
    "opacity":
      map-merge(
        map-get($utilities, "opacity"),
        (
          state: hover,
        )
      ),
    "overflow-x":
      map-merge(
        map-get($utilities, "overflow-x"),
        (
          responsive: true,
        )
      ),
    "display":
      map-merge(
        map-get($utilities, "display"),
        (
          values: inline inline-block block grid inline-grid table table-row
            table-cell flex inline-flex none table-header-group table-row-group,
        )
      ),
    "shadow": (
      responsive: true,
      property: box-shadow,
      class: shadow,
      state: hover,
      values: (
        null: $box-shadow,
        small: $box-shadow-sm,
        large: $box-shadow-lg,
        none: none,
      ),
    ),
    "position":
      map-merge(
        map-get($utilities, "position"),
        (
          responsive: true,
        )
      ),
    "top":
      map-merge(
        map-get($utilities, "top"),
        (
          responsive: true,
        )
      ),
    "end":
      map-merge(
        map-get($utilities, "end"),
        (
          responsive: true,
        )
      ),
    "border":
      map-merge(
        map-get($utilities, "border"),
        (
          responsive: true,
        )
      ),
    "border-top":
      map-merge(
        map-get($utilities, "border-top"),
        (
          responsive: true,
        )
      ),
    "border-bottom":
      map-merge(
        map-get($utilities, "border-bottom"),
        (
          responsive: true,
        )
      ),
    "border-color":
      map-merge(
        map-get($utilities, "border-color"),
        (
          responsive: true,
        )
      ),
    "border-width":
      map-merge(
        map-get($utilities, "border-width"),
        (
          responsive: true,
        )
      ),
    "border-style": (
      responsive: true,
      property: border-style,
      class: border,
      values: (
        none,
        dashed,
      ),
    ),
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
          state: hover,
          values:
            map-merge(
              map-get(map-get($utilities, "width"), "values"),
              (
                content: max-content,
                0: 0,
                1: 1rem,
                2: 1.25rem,
                3: 1.875rem,
                4: 2.2rem,
                5: 2.5rem,
                6: 3.125rem,
                7: 5.3rem,
                8: 6.25rem,
                9: 9.375rem,
                10: 10.3rem,
                11: 12.5rem,
                12: 15.625rem,
                13: 18.75rem,
                14: 25rem,
              )
            ),
        )
      ),
    "viewport-width":
      map-merge(
        map-get($utilities, "viewport-width"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "viewport-width"), "values"),
              (
                75: 75vw,
                50: 50vw,
              )
            ),
        )
      ),
    "min-width": (
      responsive: true,
      property: min-width,
      class: min-w,
      values: (
        content: fit-content,
      ),
    ),
    "height":
      map-merge(
        map-get($utilities, "height"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "height"), "values"),
              (
                content: fit-content,
                0: 0,
                1: 1rem,
                2: 1.25rem,
                3: 1.875rem,
                4: 2.2rem,
                5: 2.5rem,
                6: 3.125rem,
                7: 5.3rem,
                8: 6.25rem,
                9: 9.375rem,
                10: 10.3rem,
                11: 12.5rem,
                12: 15.625rem,
                13: 18.75rem,
                14: 25rem,
              )
            ),
        )
      ),
    "viewport-height":
      map-merge(
        map-get($utilities, "viewport-height"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "viewport-height"), "values"),
              (
                90: 90vh,
                75: 75vh,
                50: 50vh,
              )
            ),
        )
      ),
    "min-viewport-height":
      map-merge(
        map-get($utilities, "min-viewport-height"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "min-viewport-height"), "values"),
              (
                90: 90vh,
                75: 75vh,
                60: 60vh,
              )
            ),
        )
      ),
    "max-viewport-height": (
      property: max-height,
      class: max-vh,
      values: (
        60: 60vh,
      ),
    ),
    "padding":
      map-merge(
        map-get($utilities, "padding"),
        (
          state: hover,
        )
      ),
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
          state: "first-letter",
        )
      ),
    "text-decoration":
      map-merge(
        map-get($utilities, "text-decoration"),
        (
          state: hover,
        )
      ),
    "white-space":
      map-merge(
        map-get($utilities, "white-space"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "white-space"), "values"),
              (
                pre-line: pre-line,
              )
            ),
        )
      ),
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          responsive: true,
          state: hover,
        )
      ),
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          responsive: true,
          state: hover,
        )
      ),
    "rounded":
      map-merge(
        map-get($utilities, "rounded"),
        (
          responsive: true,
        )
      ),
    "z-index":
      map-merge(
        map-get($utilities, "z-index"),
        (
          responsive: true,
        )
      ),
    "cursor": (
      property: cursor,
      values: pointer,
    ),
    "outline": (
      property: outline,
      values: (
        none: none,
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
          var(--#{$prefix}border-color),
      ),
    ),
    "outline-width": (
      responsive: true,
      property: outline-width,
      class: outline,
      values: $border-widths,
    ),
    "outline-color": (
      responsive: true,
      property: outline-color,
      class: outline,
      local-vars: (
        "outline-opacity": 1,
      ),
      values: $utilities-border-colors,
    ),
    "outline-offset": (
      property: outline-offset,
      class: outline-offset,
      values: (
        -1: -1px,
      ),
    ),
    "list-style": (
      property: list-style-type,
      class: list,
      values: (
        disc,
        none,
      ),
    ),
    "resize": (
      property: resize,
      values: (
        none,
      ),
    ),
    "max-inline-size": (
      responsive: true,
      property: max-inline-size,
      class: max-inline,
      values: (
        900: 900px,
        700: 700px,
      ),
    ),
    "letter-spacing": (
      property: letter-spacing,
      class: letter-spacing,
      values: (
        0: 0,
      ),
    ),
  )
);
