$utilities: map-merge(
  $utilities,
  (
    "width": (
      responsive: true,
      property: width,
      class: w,
      values: (
        25: 25%,
        33: 33.33%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        0: 0,
        1: 1rem,
        2: 1.25rem,
        3: 1.875rem,
        4: 2.2rem,
        5: 2.5rem,
        6: 3.125rem,
        7: 5.3rem,
        8: 6.25rem,
        9: 9.375rem,
        10: 10.3rem,
        11: 12.5rem,
        12: 15.625rem,
        13: 18.75rem,
        14: 25rem,
      ),
    ),
    "height": (
      responsive: true,
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        0: 0,
        11: 12.5rem,
      ),
    ),
    "viewport-height": (
      responsive: true,
      property: height,
      class: vh,
      values: (
        100: 100vh,
      ),
    ),
    "object-fit": (
      property: object-fit,
      values: contain cover,
    ),
    "cursor": (
      property: cursor,
      values: pointer,
    ),
    "text-decoration": (
      property: text-decoration,
      state: hover,
      values: none underline line-through,
    ),
    "font-size": (
      responsive: true,
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes,
    ),
  )
);
