// Color system
$primary: #390000;
$secondary: #876e32;
$primary-light: #bc6c6c;
$secondary-light: #deb657;
$highlight: #fff500;
$success: #6eab7c;
$danger: #a35858;
$content: #3f3f3f;
$gray: #828282;
$light: #f8f9fa;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "light": $light,
  "primary-light": $primary-light,
  "highlight": $highlight,
  "content": $content,
  "gray": $gray,
);

$color-contrast-dark: $primary;

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer * 1,
  5: $spacer * 1.5,
  6: $spacer * 1.75,
  7: $spacer * 2,
  8: $spacer * 3,
  9: $spacer * 4,
  10: $spacer * 5,
  11: $spacer * 6,
  12: $spacer * 9,
);

// Body
$body-bg: transparent;

// Components
$border-radius: 0.625rem;
$border-radius-lg: 1rem;
$border-radius-xl: 1.25rem;

// Typography
$font-family-sans-serif: "Noto Serif TC", sans-serif;
$font-size-base: 1rem;

$font-size-sm: $font-size-base * 0.75;
$font-size-lg: $font-size-base * 1.5;

$font-sizes: (
  1: 3rem,
  2: 2rem,
  3: 1.5rem,
  4: 1.25rem,
  5: 1rem,
  6: 0.75rem,
);

// Buttons + Forms
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 2rem;

$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 2rem;

$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 6rem;

// Buttons
$btn-border-radius-lg: $border-radius;

// Forms
$input-border-color: transparent;
$input-focus-border-color: transparent;
$input-focus-box-shadow: 0;
$input-placeholder-color: $gray;
